
<!-- @gchriswill:-> Mini modal window for when clicked the Phone option nested on the "Contact" tab -->

<!-- Modal box with a custom bummer alert style. Default source found at: http://getbootstrap.com/javascript/#modals  -->
<div class="modal fade phone_modal" tabindex="-1" id="myModal" role="dialog" aria-labelledby="small_modal_header2" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="small_modal_header2" >Bummer! LMAO!</h4>
		</div>
		<div class="modal-body">
			<p>I'm really sorry!<br><br>Due to the spam, black mail and phishing attacks, I had been forced to remove this contact method.<br><br>Please try the email option! <br><br>(d|@,@|b)</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
    </div>
  </div>
</div>
<!-- End of bummer modal -->