
<!-- @gchriswill *** Site's Header Markup Object ********************************************** -->
<head>
	
	<!-- Meta attributes setup -->
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The digital home of gchriswill. TimeLine, Hacks, Portfolio, and Me. Yep! They are all here...">
	<meta name="keywords" content="gchriswill, Swift, Objective-C, C, JavaScript, HTML5, CSS3, Ruby, backend, back-end, front-end, frontend, web development, iOS, Mac, Developer, Designer, Apple">
	<meta name="author" content="Christopher Gonzalez, gchriswill">
	
	<!-- Title setup -->
	<title> gchriswill &#124; {{ page.title }}</title>
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	
	<!-- External sources -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
	<link href="css/global.css" rel="stylesheet" type="text/css" >
	<link href="css/{{ page.title }}Styles.css" rel="stylesheet" type="text/css" >
	
<!-- <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet" type="text/css" > -->
<!--	<link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic" rel="stylesheet" type="text/css" >
	<link href="http://fonts.googleapis.com/css?family=Orbitron:400,500,700" rel="stylesheet" type="text/css" >

	<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600" rel="stylesheet" type="text/css">-->
	<!-- Overwrite class for "span" tags to use it on punctioations -->
	<style>.red_punctuation{color:red;}</style>
	
	<!-- Respond for old EI -->
	<script src="scripts/respond.js"></script>
	
	<!-- Google Analytics Scripts -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-50384664-1', 'gchriswill.me');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
	</script><!-- End of Google Analytics Scripts -->
	    
</head>
<!-- End of Site's Header Markup Object ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->