
<!-- @gchriswill *** Side Navigation Engine ********************************************** -->
<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-2 sideNavContainer" >
	
	<!-- Complementary Container -->
	<div class="gcw-sidebar hidden-print" role="complementary" >
    	
    	<!-- Side Navigation Structure -->
    	<ul class="nav sideNavigation" data-spy="affix" >
        	
        	{% for sidemain in site.posts %}
				
					
					{% if sidemain.postmonth == sidemain.identifier %}
						
						<li class="sideNavList {{ sidemain.identifier }}main">
							
							<!-- Month Headers Links -->
							<!-- Dynamic link creation, and id and title link setters -->
							<a class="monthLinks" href="#{{ sidemain.identifier }}" >{{ sidemain.meta }}</a>
							
							<!-- Sub Navigation -->
							<!-- Dynamic link data setter to subnavigation -->
							<ul class="nav {{ sidemain.identifier }}sub" >
						    	
						    	{% for sidesub in site.posts %}
									
									{% if sidemain.identifier contains sidesub.postmonth and sidesub.postmonth != sidesub.identifier %}
																			
										<!-- Dynamic link creation, and id, href, date and title link setters -->
										<li><a class="sidePostLinks" href="#{{ sidesub.identifier }}" >{{ sidesub.date | date_to_long_string }} <br> {{ sidesub.title }}</a></li>
									
									{% endif %}
									
								{% endfor %}
							    
							</ul><!-- End of Sub Navigation -->
						
						</li>
						
					{% endif %}
					
			{% endfor %}
			
			<!-- Static link creation for scrolling to top -->
			<li class="lastLi"><a class="goTop" href="#pageTop" >Back to top</a></li>
			
		</ul><!-- End of Side Navigation Structure -->
		
	</div><!-- End of Complementary Container -->
	
</div>
<!-- End of Side Navigation Engine ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
